
body {

	padding: 40px;

}

body, p {

	font-size: 24px;

}

#newToDo {

	width: 100%;
	box-sizing: border-box;

}

#todoItems {

	list-style: none;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding-left: 0;

}

#todoItems > li {

	padding: 10px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

}

#todoItems > li.checked label{

	text-decoration: line-through;

}

#todoItems input.edit {

	display: none; /* Hides Edit Input Box */

}

#todoItems .editing label {

	display: none; /* Hides original todo text when editing */

}

#todoItems > .editing input.edit {

	display: inline; /* Shows input text when editing */

}
