<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/styles.css">

        <script src="js/lib/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <script src="js/lib/jquery-min.js"></script>
        <script src="js/lib/underscore-min.js"></script>
        <script src="js/lib/backbone-min.js"></script>

        <script src="js/model.js"></script>
        <script src="js/collection.js"></script>
        <script src="js/view.js"></script>
        <script src="js/collectionsview.js"></script>

        <script type="text/html" id="input-template">
            <input type="text" placeholder="Enter your To-Do here"autofocus id="newToDo"></input>
        </script>

        <script type="text/html" id="item-template">
            <div class="view">
                <label>
                    <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
                    <%= title %>
                </label>
                <button class="destroy">X</button>
            </div>
        </script>
        <script src="js/main.js"></script>
    </body>
</html>
