<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/styles.css">

        <script src="js/lib/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <script src="js/lib/jquery-min.js"></script>
        <script src="js/lib/underscore-min.js"></script>
        <script src="js/lib/backbone-min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>
        <script src="js/model.js"></script>
        <script src="js/collection.js"></script>
        <script src="js/view.js"></script>
        <script src="js/collectionsview.js"></script>

        <script type="text/html" id="input-template">
            <input type="text" placeholder="Something to do?"autofocus id="newToDo"></input>
        </script>

        <script type="text/html" id="item-template">
            <div class="view">
                <label><input autofocus class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
                <%= title %></label>
                <input class="edit" value="<%- title %>">
                <button class="destroy">X</button>
                <button class="editor">Edit</button>
            </div>
        </script>

        <script type="text/template" id="stats-template">
            <span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
            <ul id="filters">
                <li>
                    <a class="selected" href="#/">All</a>
                </li>
                <li>
                    <a href="#/active">Active</a>
                </li>
                <li>
                    <a href="#/completed">Completed</a>
                    </li>
                </ul>
                <% if (completed) { %>
                <button id="clear-completed">Clear completed (<%= completed %>)</button>
                <% } %>
  </script>
        <script src="js/main.js"></script>
    </body>
</html>
